.container {
    width: 100%;
    max-width: 960px;
    clear: both;
    display: grid;
}

body {
    display: block;
    margin: 15px;
}

/* .name {
    float: left;
    width: 400px;
    /* height: 90px; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: 600;
} */ */

/* nav a {
    clear: both;
    background-color: aquamarine;
    border-bottom: black;
    font-size: 30px;
    margin-left: 20px;
} */
h1, h2, h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

header {
    border-top: 8px solid rgb(207, 233, 183);
    background-color: rgb(204, 243, 211);
    text-align: center;
}

.link1 {
    font-size: large;
}

.main {
    font-size: 24px;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    width: 960px;
    height: 440px;
}

.profileIMG {
    float: left;
    width: 200px;
    height: 250px;
    margin-left: 30px;
    padding: 1rem;
}

p {
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p.right {
    text-align: left;
}

footer {
    font-size: 12px;
    color: #ffffff;
    color: #030303;
    text-align: center;
    background: rgb(204, 243, 211);
    border-bottom: 8px solid rgb(207, 233, 183);
    height: 50px;
  }

img {
    width: 150px;
    height: 180;
}
/* contact page */

.btn {
    border-radius: 7px;
    ;
}


/* To make the site to be responsive */
@media screen and (max-width: 375px) {
    header, .row {
        width: 100%;
    }
    body {
        width: 350px;
        height: 800px;
    }
    footer, .main {
        width: 350px;
    }
 
    h1, h2, h3, h4, h5, h6 {
        font-size: 20px;
    }
    .link1 {
        font-size: 10px;
    }

    img {
        width: 100px;
        height: 100px;
    }
}
 
@media screen and ( max-width: 411px) {
    header, footer, .main, nav, .container {
        width: 100%;
    }
    body {
        width: 100%;
        height: 685px;
    }
    img {
        height: 50%;
        width: 50%;
    }
    .profileIMG {
        height: 90px;
        width: 90px;
    }

    h1, h2, h3 {
        font-size: 24px;
    }
    p {
        font-size: small;
    }
    a {
        font-size: small;
    }
}